.listContainer li {
	border: 1px solid #dcdcdc;
	margin: 2px;
	padding: 2px;
	border-radius: 5px;
}

.listContainer.aplhabetsContainer li {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	background: #ffffff;
	margin: 0 0 5px 5px;
}

.listContainer.aplhabetsContainer li  a {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.selectedAlphabetImage {
	text-align: center;
	margin-top: 100%;
}